<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssured framework">
	
	
	<listeners>

<listener class-name="api.Utilities.ExtentReportManager"/>

</listeners>


  <test thread-count="5" name="Test through Routes Class">
    <classes>
      <class name="api.TestCase.UserTests"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test Excel file DDT">
    <classes> 
      <class name="api.TestCase.DDT_Test1"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test through PropertyFile">
    <classes> 
      <class name="api.TestCase.UserTest2"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
